extends ../layouts/page.pug

block content
    div
        if courses.length === 0
            p No courses found
        else
            each course in courses
                div
                    h2
                        a(href=`/courses/${course.id}`)= course.title
                    p= course.description
