extends ../layouts/page.pug

block content
    div
        if courses.length === 0
            p No courses found
        else
            div
                form(role = 'form' method = 'GET' action = '/courses')
                    input(type = 'search', name = 'term', value = term ? term : '')
                    input(type = 'submit' value = 'search')
            each course in courses
                div
                    h2
                        a(href=`/courses/${course.id}`)= course.title
                    p= course.description
