div
    h1 Header
    div
        ul
            li
                a(href=`${route('home')}`) Home page
            li
                a(href=`${route('users')}`) Users
            li
                a(href=`${route('courses')}`) Courses